@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main1 {
	height: 800px;
	background-color: #9f9faa;
}


footer {
	text-align: center;
}

footer p {
	display: inline-block;
}